body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

.form-container {
    max-width: 800px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}


.titulo {
    background-color: #b4cef6;
}
