@{
    ViewBag.Title = "Contactanos";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        h2 {
            color: #333;
            margin-top: 20px;
        }

        h3 {
            color: #666;
            text-decoration: none;
            /*color: inherit;*/
        }

        address {
            margin-top: 10px;
        }

        img {
            width: 25px;
            height: 25px;
            margin-right: 5px;
        }

        a {
            text-decoration: none;
            color: #666;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <h3>Por medio de nuestras redes sociales</h3>

    <address>
        <img src="~/Image/facebook.png" alt="Facebook" /> <a href="https://www.facebook.com/profile.php?id=100090376787729&locale=es_LA">Enlaza Tea</a>
        @*<br />
        <p></p>
        <img src="~/Image/gmail.png" alt="Gmail" /> <a href="mailto:consultoriacei7@gmail.com">Enlaza Tea</a>
        <br />
        <p></p>
        <img src="~/Image/instagram.png" alt="Instagram" />  <a href="mailto:consultoriacei7@gmail.com">Enlaza Tea</a>*@
    </address>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <address>
        <strong>Para reportar problemas o errores:</strong><br />
        <a href="mailto:consultoriacei7@gmail.com">Consultoria Eterna Innovación</a>
    </address>
</body>
</html>
