
@{
    ViewBag.Title = "Cookies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Política de Cookies</h2>

    <p>La política de cookies describe el uso de cookies en nuestro sitio web. Al utilizar nuestro sitio, acepta el uso de cookies de acuerdo con esta política.</p>

    <h3>¿Qué son las cookies?</h3>
    <p>Las cookies son archivos que se pueden descargar en tu dispositivo a través de las páginas web. Estas son herramientas esenciales para proporcionar varios servicios en línea. Entre otras cosas, permiten a un sitio web almacenar y recuperar información sobre los hábitos de navegación de un usuario o su dispositivo. Según la información obtenida, se pueden utilizar para reconocer al usuario y mejorar el servicio ofrecido.</p>

    <h3>Tipos de cookies</h3>
    <p>Dependiendo de la entidad que gestione el dominio desde el cual se envían las cookies y que procesa los datos obtenidos, podemos distinguir dos tipos:</p>

    <p>
        Cookies propias: Estas cookies se envían al dispositivo del usuario desde un servidor o dominio gestionado por el propio editor del sitio web y desde el cual se presta el servicio solicitado por el usuario.

        Cookies de terceros: Estas cookies se envían al dispositivo del usuario desde un servidor o dominio que no es gestionado por el editor del sitio, sino por otra entidad que procesa los datos obtenidos a través de las cookies.

        También podemos clasificar las cookies según el período de tiempo que permanecen almacenadas en el navegador del cliente:

        Cookies de sesión: Diseñadas para recopilar y almacenar datos mientras el usuario navega por el sitio web. Se utilizan para almacenar información relevante para la prestación de un servicio solicitado por el usuario en una sola ocasión, como una lista de productos adquiridos.

        Cookies persistentes: Los datos siguen almacenados en el dispositivo y pueden ser accedidos y procesados durante un período definido por el responsable de la cookie, que puede variar desde unos minutos hasta varios años.

        Por último, las cookies también se pueden clasificar según la finalidad para la que se utilizan:

        Cookies técnicas: Permiten al usuario navegar por el sitio web y utilizar sus funciones y servicios, como controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a áreas de acceso restringido, recordar los elementos en un carrito de compras, y utilizar elementos de seguridad durante la navegación.

        Cookies de personalización: Permiten al usuario acceder al servicio con características predefinidas según criterios establecidos en el dispositivo del usuario, como el idioma, el tipo de navegador y la configuración regional.

        Cookies de análisis: Estas cookies permiten el seguimiento y análisis del comportamiento de los usuarios en el sitio web. La información recopilada se utiliza para medir la actividad del sitio web y elaborar perfiles de navegación de los usuarios, con el fin de realizar mejoras en función del análisis de los datos de uso.

        Cookies publicitarias: Permiten la gestión eficaz de los espacios publicitarios.

        Cookies de publicidad comportamental: Almacenan información sobre el comportamiento de los usuarios, obtenida a través de la observación continua de sus hábitos de navegación. Esto permite desarrollar perfiles específicos para mostrar publicidad en función de dicho comportamiento.

        Cookies de redes sociales externas: Se utilizan para permitir a los visitantes interactuar con el contenido de diferentes plataformas de redes sociales (como Facebook, YouTube, Twitter, LinkedIn, etc.). La información recopilada está regulada por las políticas de privacidad de las plataformas sociales correspondientes.
    </p>

    <h3>Desactivación y eliminación de cookies</h3>
    <p>Puedes permitir, bloquear o eliminar las cookies instaladas en tu dispositivo mediante la configuración de las opciones de tu navegador. Al desactivar las cookies, es posible que algunos servicios disponibles en el sitio web dejen de funcionar. Las instrucciones para deshabilitar las cookies varían según el navegador utilizado, y generalmente se encuentran en el menú de "Herramientas" o "Opciones". Consulta el menú de "Ayuda" de tu navegador para obtener más información y seguir las instrucciones correspondientes. Puedes elegir qué cookies deseas que funcionen en este sitio web en cualquier momento.</p>

    <h3>Aceptación de la Política de Cookies</h3>
    <p>www.enlaza-tea.com asume que los usuarios aceptan el uso de cookies. Se muestra información sobre la Política de Cookies en la parte inferior o superior de cualquier página del portal con cada inicio de sesión, para que los usuarios estén al tanto.</p>
    <p>Ante esta información, los usuarios pueden llevar a cabo las siguientes acciones:</p>

    <p><strong>Aceptar cookies:</strong> No se mostrará nuevamente este aviso al acceder a cualquier página del portal durante la sesión actual.</p>
    <p><strong>Cerrar:</strong> Oculta el aviso en la página actual.</p>
    <p><strong>Modificar su configuración:</strong> Los usuarios pueden obtener más información sobre las cookies, conocer la Política de Cookies de www.enlaza-tea.com y modificar la configuración de su navegador.</p>
</div>
