
@{
    ViewBag.Title = "Sobre Nosotros";
}

<link rel="stylesheet" href="~/Content/css/SobreNosotroStyle.css" />

<header class="main-content  mt-0">
    <!-- <div class="page-header align-items-start min-vh-100 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('~/Content/Images/bg-inicio-1.jpg'); background-position: center;">
        <span class="mask bg-gradient-dark opacity-6"></span> -->
    <div class="container pt-0 ">
        <div class="row justify-content-center sobre-nosotros">
            <div class="col-lg-12 text-center mx-auto">
                <h1 class="text-dark mb-2 mt-0 titulo">Sobre Nosotros</h1>
                <h4 class="text-lead text-dark mb-3"> Somos un grupo de individuos comprometidos que operamos mediante una plataforma informática con la finalidad de:</h4>
                <div class="sobre-nosotros__lista">
                    <li>Brindar apoyo a las familias con infantes que padecen el Trastorno del Espectro Autista (TEA) por medio de capacitación accesible y gratuita, a fin de que puedan comprender, atender y gestionar de manera más efectiva este padecimiento; así como, facilitar el acceso a especialistas en TEA de la región.</li>
                    <li>Colaborar con especialistas en TEA para aumentar el número de consultas atendidas. Asimismo, nos enfocamos en mejorar significativamente la organización, administración y gestión de su práctica clínica para un seguimiento más eficiente con sus pacientes.</li>

                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</header>

<main class="container">

    <div class="nosotros">
        <div class="nosotros_contenido">
            <h2 class="nosotros_contenido__titulo text-center">Nuestra Historia</h2>
            <p>
                Enlaza TEA nace de una plática con nuestros colaboradores en el cual al abordar temas personales pudimos visualizar que el trastorno espectro autista es un diagnóstico que afecta tanto al familiar como al paciente, debido a que muchas veces los padres de niños con este padecimiento llegan a consulta sin más que un diagnóstico por parte del médico, careciendo así de información y de la capacitación básica necesaria, lo que les provoca gran ansiedad, estrés y preocupación que contagia a los niños pudiendo empeorar el problema.
            </p>
            <p>
                Nuestra finalidad es poder conectar con los familiares de los infantes diagnosticados y especialistas mostrando empatía con sus emociones.
            </p>
        </div>
        <img class="img-fluid " src="~/Content/Images/tea-5.jpg" alt="...">
    </div>
    <div class="nosotros">
        <div class="nosotros__informacion">
            <h2 class="nosotros_contenido__titulo text-center">Misión</h2>
            <p>
                Contribuir a que familias con menores con TEA alcancen el máximo bienestar posible, mediante capacitación tecnológicamente accesible y gratuita, y servicios que permitan el enlace con especialistas en la materia, socialmente comprometidos, que brinden atención y seguimiento profesionales.
            </p>
        </div>
        <div class="nosotros__informacion">
            <h2 class="nosotros_contenido__titulo text-center">Visión</h2>
            <p>
                Ser una organización reconocida por su compromiso con el bienestar de las familias que cuentan con miembros con padecimientos mentales o físicos, crónicos y/o degenerativos, con un amplio depósito de capacitaciones gratuitas enfocadas a disminuir la ansiedad, frustración, estrés, miedo y confusión causadas por su diagnóstico; así como, con un directorio nacional e internacional de especialistas socialmente comprometidos, distinguidos por su seguimiento y atención profesionales.
            </p>
        </div>
    </div><!--End Nosotros-->
    <div class="valores">
        <div class="row row-cols-1 row-cols-md-1 g-3 justify-content-center-media">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center mx-auto">
                    <h2 class="text-dark mb-2 mt-5 titulo">Nuestros Valores</h2>
                    <!-- <p class="text-lead text-dark">Cree una cuenta para tener acceso a nuestras capacitaciones, soporte tecnico
                    y desarrollo de software a la medida.</p> -->
                </div>
            </div>
            <div class="card mb-3 " style="max-width: 70%;">
                <div class="row g-0 ">
                    <div class="col-md-4 ">
                        <img src="~/Content/Images/valor-responsabilidad.jpeg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 d-grid justify-content-center align-items-center">
                        <div class="card-body ">
                            <h5 class="card-title">Responsabilidad</h5>
                            <p class="card-text">Valoramos la responsabilidad, asegurando que las familias confíen y cuenten con seguridad en la veracidad de la información dentro de nuestra plataforma.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end-media">
                <div class="card height-230 mb-3 " style="max-width: 70%;">
                    <div class="row g-0 d-flex flex-row-reverse">
                        <div class="col-md-4" style="background-size: cover; background-position: center;">
                            <img src="~/Content/Images/valor-honestidad.jpeg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Honestidad</h5>
                                <p class="card-text">Transmitimos confianza y tranquilidad a las familias y especialistas, manteniendo la honestidad en todas las actividades realizadas.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card height-230 mb-3" style="max-width: 70%;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Content/Images/valor-compromiso.jpeg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Compromiso</h5>
                            <p class="card-text">Nos comprometemos a mejorar constantemente, dando el máximo de nuestras capacidades en cada paso que damos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end-media">
                <div class="card height-230 mb-3" style="max-width: 70%;">
                    <div class="row g-0 d-flex flex-row-reverse">
                        <div class="col-md-4">
                            <img src="~/Content/Images/valor-solidaridad.jpeg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Solidaridad</h5>
                                <p class="card-text">Somos solidarios y confiamos en la capacidad de nuestra plataforma para mejorar la calidad de vida de las personas que padecen este trastorno, siendo una de nuestras esencias.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card height-230 mb-3" style="max-width: 70%;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Content/Images/valor-amor.jpeg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Amor</h5>
                            <p class="card-text">El amor y la pasión por este proyecto nos motivan e impulsan a hacer más por la sociedad, entregando nuestro corazón en cada acción que realizamos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
