@model ML.Membresia
@{
    ViewBag.Title = "Index";
    Layout = null;
}




<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Membresias</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          rel="stylesheet" />
    <style>
        body {
            background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
        }

        .container {
            max-width: 960px;
        }

        .pricing-header {
            max-width: 700px;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        media (min-width: 768px) {
            .bd-placeholder-img-lg

        {
            font-size: 3.5rem;
        }
        }
    </style>
    <script type="text/javascript" src=""></script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript"
            src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</head>
<body oncontextmenu="return false" class="snippet-body">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="right" viewBox="0 0 16 16">
            <title>Right Tick</title>
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
        </symbol>
    </svg>

    <div class="container py-3">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"></div>

            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Precios</h1>
                <p class="fs-5 text-muted">
                    Consulta nuestros planes más eficaces. Puedes elegir según tu presupuesto.
                </p>
            </div>
        </header>

        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 ">
                <!--foreach (ML.Membresia membresia in Model.Membresias)
                    //{
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">membresia.Nombre</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">
                                    membresia.Precio<small class="text-muted fw-light">/mx</small>
                                </h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Huele a Limon UwU</li>
                                    <li>2 GB of storage</li>
                                    <li>No Email support</li>
                                    <li>No Help Center</li>
                                </ul>-->
                                @*<button type="button"
                                        class="w-100 btn btn-lg btn-outline-primary">
                                    Comenzar
                                </button>*@
                                <!--<div class="d-flex flex-row">
                                    <a  class="w-100 btn btn-lg btn-outline-primary" href="Url.Action("AddCart", "Pago", new { IdMembresia = membresia.IdMembresia })">Comenzar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }-->
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal text-center">Básico</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title text-center">
                                $449<small class="text-muted fw-light">/mx</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>•Agenda online 24/7 con disponibilidad de horarios.</li>
                                <li>•Cita presencial</li>
                                <li>•Servicios ofrecidos y listado de precios.</li>
                                <li>•Indexación en la zona.</li>
                            </ul>
                            <div class="d-flex flex-row">
                                <a class="w-100 btn btn-lg btn-outline-primary" href="@Url.Action("AddCart", "Pago", new { IdMembresia = 1 })">Comenzar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal text-center">Premium</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title text-center">
                                $599<small class="text-muted fw-light">/mx</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>•Agenda online 24/7 con disponibilidad de horarios.</li>
                                <li>•Cita presencial.</li>
                                <li>•Servicios ofrecidos y listado de precios.</li>
                                <li>•Indexación en la zona</li>
                                <li>•Seguimiento clínico propio</li>
                            </ul>
                            <div class="d-flex flex-row">
                                <a class="w-100 btn btn-lg btn-outline-primary" href="@Url.Action("AddCart", "Pago", new { IdMembresia = 2 })">Comenzar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-white bg-primary border-primary">
                            <h4 class="my-0 fw-normal text-center">Enlaza</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title text-center">
                                $749<small class="text-muted fw-light">/mx</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>•Agenda online 24/7 con disponibilidad de horarios.</li>
                                <li>•Cita presencial y virtual.</li>
                                <li>•Servicios ofrecidos y listado de precios.</li>
                                <li>•Indexación en la zona</li>
                                <li>•Seguimiento clínico de otros especialistas (sin poder modificar).</li>
                                <li>•Apartado para subir certificaciones y diplomados.</li>
                            </ul>
                            <div class="d-flex flex-row">
                                <a class="w-100 btn btn-lg btn-outline-primary" href="@Url.Action("AddCart", "Pago", new { IdMembresia = 3 })">Comenzar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
        </main>
    </div>
    <script type="text/javascript"></script>
</body>


